<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>securedata</display-name>
  <welcome-file-list>
    <welcome-file>JSP/Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistratrionServlet</display-name>
    <servlet-name>RegistratrionServlet</servlet-name>
    <servlet-class>controller.RegistratrionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistratrionServlet</servlet-name>
    <url-pattern>/RegistratrionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PortalController</display-name>
    <servlet-name>PortalController</servlet-name>
    <servlet-class>controller.PortalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortalController</servlet-name>
    <url-pattern>/PortalController</url-pattern>
  </servlet-mapping>
</web-app>